<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Show Contact</title>
</head>
<body>
   <h1><%= @contact.first_name %> <%= @contact.last_name %></h1>
    <p><strong>Email:</strong> <%= @contact.email %></p>
    <p><strong>Note:</strong></p>
    <p><%= @contact.note %></p>
    <button><a href="/contacts/<%=@contact.id%>/edit"> Edit Contact</a></button>
</body>
</html>

